#websiteTitle {
    text-align: center;
    border-radius: 20px;
    background-color: #FCF0DD;
    padding: 20px;
    width: 350px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Montserrat", bold;
}

#testomonial1 {
    text-align: center;
    border-radius: 20px;
    background-color: #FCF0DD;
    font-size: 16px;
    padding: 20x;
    width: 500px;
    height: 60px;
    font-family: "Montserrat";
    
}


#websiteTitle2 {
    text-align: center;
    border-radius: 20px;
    background-color: #FCF0DD;
    padding: 20px;
    width: 400px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Montserrat", bold;

}

.book {

  display: flex;
  align-items:center;

}

body {
    background-color: #816B51;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3F0C00;
    border-radius: 10px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

#readyPlayerOneImage {
  padding-left: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  filter: drop-shadow(-1rem 1rem 0.75rem black);
  
}

